PORT = 3000
CORS_ORIGIN = "http://127.0.0.1","some-other-urls"
DB_PATH = ""
JWT_SECRET = "super-secret-key-change-me-in-production"
JWT_EXPIRES_IN = "7d"
COOKIE_SECRET = "munch-munch"
VITE_API_URL = "http://127.0.0.1:3000/api"
RESEND_API_KEY = "re_your_api_key"
RESEND_FROM_EMAIL = "onboarding@resend.dev"
